<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Restaurants", root_url, :class => 'navbar-brand'  %>
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "items", items_url  %></li>
              <li><%= link_to "users", users_url  %></li>
              <li><%= link_to "review", reviews_url  %></li>
          	</ul>
            <% if session[:username] %>
              <ul class="nav navbar-nav pull-right">
                <li><%= link_to "sign out", sign_out_url, method: 'delete' %></li>
              </ul>
              <p class="navbar-text pull-right">Signed in as <a href="#" class="navbar-link"><%= session[:username] %></a></p>
            <% else %>
              <ul class="nav navbar-nav pull-right">
                <li><%= link_to "sign in", sign_in_url  %></li>
                <li><%= link_to "sign up", new_user_url  %></li>
              </ul>
            <% end %>
           </div>
          </div>
         </div>

	<div class="container">
		<%= yield %>

</body>
</html>
